@media screen and (min-width: 450px) and (max-width: 760px){
    html{
        display: flex;
    }
    
    body{
        margin: auto;
        display: flex;
        gap: 0px;
    }
    main{
        height: 100%;
        
        justify-content: center;
        align-items: center;

    }
   main section{
        text-align: center;
        width: auto;
        gap: 10px;
    }
    section #botoes{
        position: relative;
        bottom: -10px;
    }
    /*section #add-buttons{
        top: -20px;
    }
    section #remove-buttons{
        top: 77px;
    }*/
}