@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --cor-principal-light: rgb(255, 255, 255);
    --cor-secundaria-light: var( --cor-principal-dark);
    --cor-principal-dark: #1e1634;
    --cor-secundaria-dark: var(--cor-principal-light);
}
body{
    height: 100vh;
    background-color: var(--cor-principal-light);
    font-family: 'Poppins', sans-serif;
    transition: background-color .5s;
}

.dark-mode{
    background-color: var(--cor-principal-dark);
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 300px;
    position: relative;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 50px;
}

#label-modos{
    position: absolute;
    right: 0;
    top: -100px;
    user-select: none;
}

#modos{
    position: relative;
    display: flex;
    gap: 3px;
    background-color: var(--cor-secundaria-light);
    border-radius: 50px;
    height: 30px;
    align-items: center;
    width: 60px;
}

.modo-ativo #modos{
    background-color: white;
}

.modo-ativo #imode-circle{
    left: 30px;
    background-color: var(--cor-principal-dark);
}

.modo-ativo #light-icon{
    display: none;
}
.modo-ativo #dark-icon{
    display: inline;
    color: white;
}

.mode-circle{
    position: absolute;
    background-color: white;
    height: 110%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -5px;
    transition-property: left;
    transition: .5s;
}

#dark-icon{
    display: none;
    color: white;
}

#opcoes-timer{
    border-bottom: 2px solid var(--cor-secundaria-light);
}

.opcoes-botoes{
    padding-right: 10px;
    padding-left: 10px;
    border: 0;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px 5px 0 0;
    background-color: var(--cor-principal-light);
    transition: background-color .5s, color .5s;
}

.modo-ativo .opcoes-botoes{
    background-color: var(--cor-principal-dark);
    color: var(--cor-secundaria-dark);
}

.timer-atual{
    background-color: var(--cor-secundaria-light);
    color: var(--cor-principal-light);
    transition: background-color .5s, color .5s;
}

input[name=cresOn]{
    display: none;
}

.modo-ativo .timer-atual{
    background-color: var(--cor-secundaria-dark);
    color: var(--cor-principal-dark);
}

#add-buttons{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50px;
    width: 250px;
}

#remove-buttons{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 250px;
    bottom: 90px;
}

section .add-remove-icon{
    font-size: 2.3em;
    display: none;
    cursor: pointer;
    user-select: none;
}

.modo-ativo .add-remove-icon{
    color: white;
}

#tempo{
    color: var(--cor-secundaria-light);
    font-size: 4em;
}

.modo-ativo #tempo{
    color: var(--cor-secundaria-dark);
}

#botoes{
    user-select: none;
}

#check-start{
    display: none;
}

#play{
    color: var(--cor-secundaria-light);
    font-size: 3.5em;
    cursor: pointer;
}

.modo-ativo #play{
    color: var(--cor-secundaria-dark);
}

#pause{
    color: var(--cor-secundaria-light);
    font-size: 3.5em;
    cursor: pointer;
}

.modo-ativo #pause{
    color: var(--cor-secundaria-dark);
}

#stop{
    cursor: pointer;
    color: var(--cor-secundaria-light);
    font-size: 3.5em;
}

.modo-ativo #stop{
    color: var(--cor-secundaria-dark);
}