@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: none;
}
html{
    background-color: #291E45;
    font-family: 'Poppins', sans-serif;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tempo{
    color: #ffffff;;
    font-size: 4em;
}

#play{
    color: white;
    font-size: 3.5em;
    cursor: pointer;
}

#stop{
    cursor: pointer;
    color: white;
    font-size: 3.5em;
}